image: conoria/alpine-r
test:
  script:
    - export _R_CHECK_FORCE_SUGGESTS_=FALSE 
    - R -q -e "install.packages('zoo', repos='http://cran.rstudio.com/')"
    - R CMD build . --no-build-vignettes --no-manual
    - PKG_FILE_NAME=$(ls -1t *.tar.gz | head -n 1)
    - R CMD check "${PKG_FILE_NAME}" --no-build-vignettes --no-manual --as-cran
